/*Main Style*/
/*styles for my resume*/

BODY {
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 1em;
    color: #444;
    font-weight:400;
}

#container {
   width:100%;
   max-width:1200px;
   margin:0 auto;
}

/*banner name at top*/
#name{
    font-size:3em;
    text-transform:uppercase;
    text-align:center;
    border-bottom:1px solid #33485e;
    width:60%; 
    min-width:300px;
    margin:0 auto;
}


/*section titles*/
.sectionheader {
    font-size:1.5em;
    font-weight:400;
    text-transform:uppercase;
    color: white;
    background-color:#33485e;
    margin-top:20px;
    margin-bottom:10px;
    margin-right:0;
    margin-left:0;
    width:70%;
    min-width:300px;
}

#title{
    text-transform:uppercase;
    font-size:1.5em;
    color:#33485e;
    font-weight:600;
    text-align:center;
    margin-top:20px;
    margin-right:0;
    margin-bottom:0;
    margin-left:0;
}

/*job title*/
.jobtitle{
    font-weight:600;
    font-size:1.5em;
}

/*organisation title name*/
.organization{
    font-weight:400;
    font-size:1.25em;
}

/*date*/
.date{
   font-weight:400;
   font-size:1em;
   font-style:italic;
   margin-top:2px;
   margin-right:0;
   margin-bottom:0;
   margin-left:0;

}

p.description{
    margin-top:10px;
    margin-right:0;
    margin-bottom:10px;
    margin-left:0;
}

/*contact info, skills and education*/

ul.menu {
    margin-top:0;
    margin-right:0;
    margin-bottom:0;
    margin-left:0;
    padding:0;
    text-align:center;
}
.menu li{
    display:inline;
};

#degrees ul{
    margin-top:5px;
    margin-right:0;
    margin-bottom:0;
    margin-left:0;
}
#do ul{ 
    margin-top:5px;
    margin-right:0;
    margin-bottom:0;
    margin-left:0;
}
.top{
    width:60%;
    min-width:300px;
    margin:0 auto;
    margin-bottom:30px;
}