.headline{
    font-size: 3em;
    font-weight: 700;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.byline{
    font-size: 1em;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
p{
    font-family: Georgia, serif;
    line-height: 180%;
}
.nav-logo{
    color: white;
    margin: 0 auto;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'OPTIEngraversOldEnglish', serif;
}
.red{
    color: #F53535;
}
.chapter{
    font-size: 2em;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
.image{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    }

.row{
    font-size: 1em;
}

.footer{
    font-size: 1em;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
