.container {
    max-width: 900px;
}

.headline{
    font-size: 3em;
    font-weight: 700;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.byline{
    font-size: 0.3em;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
p{
    font-family: 'Montserrat', sans-serif;
    line-height: 180%;
}

.nav-logo{
    color: white;
    margin: 0 auto;
    font-weight: 400;
    font-size: 2em;
    text-transform: uppercase;
    font-family: 'Special Elite', serif;
}
.red{
    color: #F53535;
}

blockquote {
    color: #F53535; 
    font: 26px/30px 'Special Elite', serif;
    font-style: italic;
    font-weight: 600;
    margin-top: 15px; 
    margin-bottom: 15px; 
    margin-left: 50px; 
    padding-left: 15px; 
    border-left: 4px solid #ccc; 
    } 

.pullquote{
        font-family: 'Special Elite', serif;
    }

.bi{
    font-size: 1em;
    color: #F53535;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

/* Splash area */

.hero-container{
    position: relative;
    text-align: center;
    color: #fff;
}

.hero-image{
    width: 100%;
}

.overlay{
    position: absolute;
    top: 40%;
    width: 100%;
    background: #000;
    opacity: .7;
}

.hero-hed{
    font-family: 'Monserrat', sans-serif;
    font-size: 5em;
    color: white;
    margin: 0 auto;
    padding-bottom: 10px;
}

.author{
    font-family: 'Montserrat', sans-serif;
    font-size: 0/.5em;
    text-transform: uppercase;
    padding-bottom: 5px;
    font-weight: 500;
    margin: 0 auto;
}

.chapter{
    font-size: 2em;
    font-weight: 600;
    font-family: 'Special Elite', serif;
}
.image{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    }

.data{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.image_graphic{
    padding-top: 10px;
    padding-bottom: 20px;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}

.row{
    font-size: 2em;
    text-align: right;
    color: #F53535;
    padding-bottom: 5%;
}

.caption{
    margin: 0 auto;
    padding-top: 10px;
    text-align: center;
}

#caption-top{
    margin: 0 auto;
    padding-top: 10px;
    text-align: center; 
}

.img_caption{
    margin: 0auto;
    padding-top: 10px;
    padding-bottom: 15px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75em;
}

.y{
    color: #F53535;
    font-size: 3em; 
    font-weight: 500;
}

.links{
    font-family: 'Special Elite', serif;
    font-size: 1.5em;
    color: black; 
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
    }

#hyperlinks{
    font-family: 'Montserrat', sans-serif;
    color: #F53535;
    margin-bottom: 20px;
}

.footer{
    font-size: 1em;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
/* Media queries */

@media screen and (max-width: 500px) {
    p{
      padding-left: 20px;
      padding-right: 10px;
    }
  
    .chapter-head {
      font-size: 1.25em;
    }
  
    .hed{
      font-size: 2em;
  }
  
  .hero-hed{
      font-size: 1em;
  }

}