/*styles for Midter*/
#content{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

#headline{
    font-size: 30px;
    margin: 0 auto; 
    color: black;
    font-weight: 600;
    font-family: Helvetica, Georgia, sans-serif;
}

#byline{
    font-size:
}

p{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: black;
}

.subhead{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: black;
    font-weight: 600;
}
