/*styles for Midter*/
#content{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}
.masthead{
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 20px;
    margin-left: 0;
    width:100%;
    min-width:100px;
    }

#headline{
    font-size: 30px;
    margin: 0 auto; 
    color: black;
    font-weight: 600;
    font-family: Helvetica, Georgia, sans-serif;
    width: 100%;
    max-width: 900px;
}

#byline{
    font-family: Helvetica, Georgia, sans-serif;
    font-size: 15px;
    font-style: italic;
    color: grey;
    margin-bottom: 10px;
    margin-top: 10px;
}
#author{
    color: black;
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 11px;
    font-family: Helvetica, Georgia, sans-serif;
}
#date{
    color: black;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 10px;
    font-family: Helvetica, Georgia, sans-serif;
}
p{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: black;
}

.subhead{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: black;
    font-weight: 600;
}
.image{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}
#caption{
    color: grey;
    font-weight: 400;
    font-size: 12px;
    font-family: Helvetica, Georgia, sans-serif;
}

blockquote {
    color: maroon; 
    font: 16px/24px normal helvetica, sans-serif; 
    font-style: italic;
    margin-top: 15px; 
    margin-bottom: 15px; 
    margin-left: 50px; 
    padding-left: 15px; 
    border-left: 4px solid #ccc; 
    } 

footnotes{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: gray;
}

.links{
    font-family: Helvetica, serif;
    font-size: 13px;
    color: black; 
    font-weight: 600;
    margin-top: 20px;
    }

